.messageBox {
  display: flex;
  background: #f3f3f3;
  border-radius: 20px;
  padding: 0px 10px;
  color: white;
  display: inline-block;
  max-width: 80%;
}
.nameBox {
  width: 20%;
  max-width: 20%;
  padding: 2px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  padding: 0 5%;
  margin-top: 3px;
  border-color: #ffffff;
  border-width: 1px;
  align-items: center;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #ffffff;
  letter-spacing: 0px;
}

.pl-10 {
  padding-left: 2%;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundPurple {
  background: #7646ff;
}

.backgroundLight {
  background: #f3f3f3;
}
